.col 
{
    background-color: #ffffff; 
    width: 10px;
    border: 1px solid black;
    
}

#fila 
{
    height: 10%;
}

#grid
{
    width: 960px;
    height: 500px;

}

.coloreado 
{
    background-color: green; 
}